/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Define fonts */
@font-face {
  font-family: "MainFont";
  src: url("../fonts/telegrama.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ai";
  src: url("../fonts/Ai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply fonts to elements */
body {
  font-family: "MainFont", sans-serif;
}

h1 {
  font-family: "Ai", sans-serif;
}

/* Styling for the container */
.popup-container {
  background-color: #282b30; /* Set background color */
  border: 2px solid #7289da; /* Simplify border styling */
  border-width: 2px 10px; /* Adjust left and right border width */
  width: 400px;
  height: 300px;
  padding: 20px;
  text-align: center;
  position: relative; /* Ensure relative positioning for absolute child elements */
}

/* Logo styles */
.logo {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Heading styles */
h1 {
  margin: 10px 0 0 40px; /* Adjust margin for better spacing */
  position: absolute;
  top: 10px;
  left: 40px;
}

/* Paragraph styles */
p {
  color: #fff; /* Set text color for better contrast */
  margin-top: 40px; /* Move the paragraph down */
}

.prompt-box {
  width: 80%;
  margin-top: 200px;
  padding: 10px;
  font-size: 14px;
}
